@using TimesheetScheduler.Models
@model JsonProjectIteration

<!-- Modal Edit TFS Reference-->
<div class="modal fade" id="editCreateTFSReferenceModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span id="headerLabelTFSName"></span></h4>
            </div>
            @using (Ajax.BeginForm("SubmitTFSReferenceButton", "User", FormMethod.Post, new AjaxOptions()
            {
                OnSuccess = "GetResult_AddNewTFSProject",
                //OnBegin = "RemoveMask_AddNewRole($(this))",
                OnFailure = "AddNewTFSProjectFailure"
            }, new { id = "TFSProjectForm" }))
            {
                @Html.AntiForgeryToken()
            <div class="modal-body">
                @Html.HiddenFor(x => x.Id, new { id = "hiddenTFSId" })
                @Html.Hidden("hiddenTeamSelected")
                @*<div class="form-group">
            <div class="LabelAndInputField">
                @Html.LabelFor(m => m.Role, new { @class = "lblRolesEditModal" })
                @Html.TextBoxFor(m => m.Role, new { @class = "form-control inputRolesEditModal", id = "roleTxt" })
            </div>
            @Html.ValidationMessageFor(m => m.Role, "", new { @class = "text-danger" })
        </div>*@
                <div class="form-group">
                    <div class="LabelAndInputField">
                        @Html.LabelFor(m => m.TeamName, new { @class = "lblProjectNameTFSditModal" })
                        @Html.TextBoxFor(m => m.TeamName, new { @class = "form-control inputProjectNameTFSEditModal", id = "teamNameTFSTxt" })
                    </div>
                    @Html.ValidationMessageFor(m => m.IterationPathTFS, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <div class="LabelAndInputField">
                        @Html.LabelFor(m => m.ProjectNameTFS, new { @class = "lblProjectNameTFSditModal" })
                        @Html.TextBoxFor(m => m.ProjectNameTFS, new { @class = "form-control inputProjectNameTFSEditModal", id = "projectNameTFSTxt" })
                    </div>
                    @Html.ValidationMessageFor(m => m.ProjectNameTFS, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <div class="LabelAndInputField">
                        @Html.LabelFor(m => m.IterationPathTFS, new { @class = "lblProjectNameTFSditModal" })
                        @Html.TextBoxFor(m => m.IterationPathTFS, new { @class = "form-control inputProjectNameTFSEditModal", id = "iterationPathTFSTxt" })
                    </div>
                    @Html.ValidationMessageFor(m => m.IterationPathTFS, "", new { @class = "text-danger" })
                </div>
            </div>
                <div class="modal-footer">
                    <button id="btnUpdateTFSProject" name="ButtonType" type="submit" class="btn btn-success" value="UpdateTFSProject">Update</button>
                    <button id="btnCreateTFSProject" name="ButtonType" type="submit" class="btn btn-success" value="CreateTFSProject">Create</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            }
        </div>
    </div>
</div>

