<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Timesheet Scheduler", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Admin", "About", "Home")</li>
                    <li>@Html.ActionLink("Report", "StepsReports", "Home")</li>

                </ul>
            </div>
            <div class="userLogged">
                <ul class="">
                    <li title=@Html.Action("GetDomainUserName", "Home")>@Html.Action("GetUserName", "Home")</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/momentjs")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/mustachejs")
    @Scripts.Render("~/bundles/fullcalendarjs")
    @Scripts.Render("~/bundles/jquerydateformat")
    @Scripts.Render("~/bundles/toastrjs")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
<style>

    .navbar .container {
        display: flex;
    }

    .userLogged {
        color: #9d9d9d;
        padding-top: 14px;
        right: 50px !important;
        position: absolute;
    }

        .userLogged li {
            display: block !important;
        }


    .container.body-content {
        width: 98% !important;
    }

    .container {
        width: 98% !important;
    }

</style>