@model TimesheetScheduler.Models.LoginTimesheetScheduler

@{
    ViewBag.Title = "Sign in";
    Layout = null;
}

<div id="login">
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-12">
                <div id="login-box" class="col-md-12">

                    @using (Html.BeginForm("SignIn", "Login", FormMethod.Post, new { @class = "form-signin", role = "form" }))
                    {
                        <h3 class="text-center text-info">Sign in</h3>

                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "UserName", @Value = @Html.Action("GetLocalUser", "Login") })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>

                        <div class="checkbox">
                            <label>@Html.CheckBoxFor(m => m.RememberMe) Remember Me?</label>
                        </div>
                        <input type="submit" value="Log in" class="btn btn-lg btn-primary btn-block" />

                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<style>
    
    body {
        margin: 0;
        padding: 0;
        background-color: #0f91a5;
        height: 100vh;
    }

    container div {
        border-right: 5px solid black !important;
        border-top: 5px solid black !important;
        padding: 20px !important;
        display: flex !important; /* make children flex too for centering */
        align-items: center !important; /* vertical center */
        justify-content: center !important; /* horizontal center */
    }

    #login .container #login-row #login-column #login-box {
        margin-top: 25%;
        max-width: 600px;
        border: 1px solid #9C9C9C;
        background-color: #EAEAEA;
        margin-left: auto;
        margin-right: auto;
        float: none !important;
    }

        #login .container #login-row #login-column #login-box #login-form {
            padding: 20px;
        }

            #login .container #login-row #login-column #login-box #login-form #register-link {
                margin-top: -85px;
            }
</style>
