@model TimesheetScheduler.Models.LoginTimesheetScheduler

@{
    ViewBag.Title = "Sign in";
    Layout = null;
}

@Styles.Render("~/Content/login")
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/login")

<div id="login">
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-12">
                <div id="login-box" class="col-md-12">

                    @using (Html.BeginForm("SignIn", "Login", FormMethod.Post, new { @class = "form-signin formLogin", role = "form" }))
                    {
                        <h3 class="text-center text-info">Sign in</h3>

                        <div class="form-group messageValidation">
                            @Html.AntiForgeryToken()

                        </div>

                        <div class="form-group">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control inputLogin", placeholder = "UserName", @Value = @Html.Action("GetLocalUser", "Login") })
                        </div>

                        <div class="form-group">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control passwordInput inputLogin", placeholder = "Password", onkeydown = "capsLockOn(event);" })

                        </div>

                        <div class="form-group formCapsLock">
                            <span>Caps Lock is on<i class="material-icons warningIcon">warning</i></span>
                        </div>

                        <div class="form-group messageValidation">
                            <ul>
                                <li>
                                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                                </li>
                                <li>
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </li>
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            </ul>
                        </div>

                        <input type="submit" value="Log in" class="btn btn-lg btn-primary btn-block inputLogin submitLogin" />

                        <div class="checkbox">
                            <label class="rememberMe">@Html.CheckBoxFor(m => m.RememberMe) Remember Me?</label>
                        </div>

                    }


                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
